resources/__pycache__/color.cpython-310.pyc
resources/__pycache__/pattern.cpython-310.pyc
resources/__pycache__/state.cpython-310.pyc
resources/__pycache__/statue.cpython-310.pyc
.idea/vcs.xml
.idea/workspace.xml
